*{
    margin: 0;
    padding: 0;
} 
body{
    background-image: url(../IMG/1701573-books-background-library-png-background-800_375_preview.png.jpg);
    background-repeat: no-repeat;
    background-size: 106%;
}
.HOME{
    text-align: center;
    margin-top: 2%;

}
h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 89px;
    
}
a{
    text-decoration: none;
    color: #D39D5A;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(37, 35, 35);
}